.container {
  display: flex;
  align-items: flex-end;
  gap: 1.1em;
}

.link {
  display: flex;
  align-items: flex-end;
  padding: 2.3em 2em 1em 1em;
  border-radius: 1.2em;
  height: 7em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.link__title {
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
  min-width: 6em;
}
