.container {
  height: 100vh;
  padding: 1.5em;
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
  max-width: 500px;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.main {
  text-align: center;
  display: grid;
  gap: 2.5em;
}

.main__headline {
  margin: 0;
  font-size: 1.7em;
  text-align: center;
}

.main__intro {
  margin: 0;
  font-size: 1.1em;
}

.form {
  display: grid;
  row-gap: 2.2em;
}
