.button {
  color: var(--video-button-color);
  background: var(--video-button-background-color);
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4em;
  font-weight: 500;
  font-family: var(--font-family);
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.button--primary {
  background: var(--primary-button-color);
}

.button--secondary {
  background: var(--secondary-button-color);
}

.modal {
  background-color: var(--primary-color);
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2em;
  height: 100%;
  width: 100%;
  padding: 1.5em;
}

.modal__headline {
  color: var(--text-color);
  margin: 0;
}

.modal__information {
  margin: 0 auto;
  width: 80%;
}

.modal__iframe {
  border-radius: 1em;
}
