.container {
  height: 100vh;
  padding: 1.5em;
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: 1em;
  max-width: 500px;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.header__headline {
  margin: 0;
  font-size: 2.2em;
}

.form {
  display: grid;
  row-gap: 1.2em;
  align-content: center;
}

.form__intro {
  margin: 0;
}

.form__headline {
  margin: 0;
  font-weight: 500;
  padding-top: 1em;
}

.form__button_container {
  padding-top: 1em;
}

.footer__link {
  margin: 0;
}
