@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Roboto', sans-serif;

  /* COLORS */
  --primary-color: #269396;
  --secondary-color: #ee9b00;
  --tertiary-color: #001821;
  --text-color: #fff;
  --secondary-text-color: #1f1f1f;
  --hint-color: #989898;
  --border-color: #ee9b00;
  --background-color: #269396;
  --secondary-background-color: #fff;

  /* SIZES */
  --font-size: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
}
