.button {
  color: var(--text-color);
  background: var(--secondary-color);
  font-size: 1.1em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
  font-family: var(--font-family);
}
