.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 1.5em;
  max-width: 500px;
  margin: 0 auto;
  padding: 3em 0 7em;
}

.headline {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  padding-left: 1.5rem;
}

.avatar {
  padding-right: 1.5em;
}

.card {
  grid-column: 1 / 3;
  padding: 0.5em 0 0.5em 1.5em;
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  display: none;
}
