.navigationBar {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4em 0 1.6em;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
  height: 5em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
