.container {
  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-radius: 2.5em;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
  min-width: 19em;
}

.project_image {
  width: 100%;
  height: 10em;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
  object-fit: cover;
}

.information {
  padding: 0.5em 1em 1em;
  display: grid;
  grid-template-columns: 1fr 4em;
  grid-template-rows: 1fr auto;
}

.information__title {
  margin: 0;
  height: 4em;
  padding-bottom: 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  grid-column: 1 / 3;
}

.information__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
}

.company_logo {
  width: 4em;
  height: 4em;
  object-fit: cover;
}
